body, html{
 	padding: 0;
  	margin: 0;
	font-family: sans-serif;	

  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.flotTitle{
	min-width: 320px;
	width: 33%;
	height: auto;
}
.flotTitle h1{
	margin: 0;
	padding: 5px;
	color: #333;
	/*font-size: 36px;*/
	font-size: 3.2vh;
}
#status{
	padding: 5px;
	width: auto;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
	background-color: #ddd;
	height: auto;
	min-height: 100vh;
}
.flex-item{
    min-height: 150px;
    min-width: 100px;
}

/* flot chart flex */
.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 100%;
    align-self: auto;
    background-color: #eee;
	height: auto;
	min-height: 45vh;
	border-bottom: 3px #333 solid;
	box-shadow: 0px 0px 5px green;
}

/* current readings flex */
.flex-item:nth-child(2) {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
   
	order: 2;
    flex: 1 1 auto;
    align-self: center;
	flex-basis: auto;
	height: auto;
	min-height: 35vh;
	min-width: 320px;

}

.nested-flex-item{
	height: auto;
	flex-basis: 320px;
	min-width: 320px;
	align-self:center;
}

.nested-flex-item:nth-child(1) {
	order: 1;
	flex-grow: 1.0;
	z-index: 2;
	border-right: green 1px solid;
}

.nested-flex-item:nth-child(2) {
	order: 2;
	flex-grow: .5;
}

/* gauge flex item */
.nested-flex-item:nth-child(3) {
    order: 0;
	flex-grow: .5;
    align-self: center;
    background-color: #ddd;
	min-width: 320px;
	border-right: green 1px solid;
}
#gauge{ 
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.panelDivider{
	width: 100%;
	height: auto;
	
}
.powerReadings{
	height: auto;
	min-height: 100px;
	min-width: 200px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.powerReadingChild{
	float: right;
	width: 50%;
	min-width: 105px;
	height: auto;
	text-align: center;
}
.powerReadingChild span:nth-child(1){
	/*font-size: 30px;*/
	font-size:3.2vh;
	font-weight: 700;
	color: #333;
}
.powerReadingChild span:nth-child(2), .powerReadingChild span:nth-child(3){
	color: green;	
	font-size: 20px;
	font-size:2.6vh;
	font-weight: 700;
}
.powerLabel{
	display: block;	
	/*font-size: 20px;*/
	font-size: 2.6vh;
}
#flot{
	margin: auto;
	margin-top: 10px;
	width: 95%;
	height: 550px;
}
#currentOutput{
	color: green;
	font-weight: 700;
	/*font-size: 30px;*/
	font-size: 3.2vh;
}
.currentValues{
	height: auto;
	width: 100%;
	color: #333;
	/*font-size: 28px;*/
	font-size: 2.8vh;
	text-align: center;
	padding-top: 10px;
}
h2{
	font-size: 30px;
	font-size: 3.2vh;
	text-align: center;	
	color: #333;
	margin: 10px;
	padding: 0;
}
.nested-flex-item h2{
	margin-top: 2.6vh;	
	/*font-size: 35px;*/
	font-size: 3.2vh;
}

#total-kWh, #total-co2, #historicalEnergy{
	display: block;
	color: green;
	/*font-size: 30px;*/
	font-size:3.2vh;

	font-weight: 700;
	text-align: center;
}
.red{
	color: red;	
}
.brown{
	color:#402409 !important;	
}
.bold{
	font-weight: 700;	
}
.axislabels{
	color: #333;	
}